
@font-face {
    font-family: 'Baron';
    src: url('../src/fonts/Baron\ Neue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0d1b2a, #1b263b, #415a77, #778da9);
    color: #ffffff;
}

header {
    background: 
        url('../src/LLN_wolf.jpg') no-repeat left center,
        url('../src/LLN_wolf_inverted.jpg') no-repeat right center;
    background-size: auto;
    background-position: left center, right center;
    background-color: black;
    text-align: center;
    padding: 120px 40px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    position: relative;
}

header::after {
    background-size: cover;
    width: calc(100% - 80px);
    height: 100%;
    background-position: center;
    left: 40px;
}

nav {
    background: #102a43;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #1b263b;
    border-top: 4px solid #778da9;
    border-bottom: 2px solid #484d53;
}

nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    font-family: 'Baron';
}

nav a:hover {
    color: #ffa500;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Specific style */

.players {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.schedule,
.players {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 230px;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 2%;
    border: 2px solid #415977;
    border-radius: 15px;
    padding: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchImage {
    margin-right: 10px;
    width: 30px;
}

#searchInput {
    flex: 1; 
    border-radius: 10px; /* Bordes redondeados para el input */
    border: 1px solid #ccc; /* Asegúrate de que el borde esté definido */
    padding: 5px 10px

}

.card-player {
    background: #1f4068;
    padding: 20px;
    border: 2px solid #778da9;
    border-radius: 15px;
    width: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.card-player:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.error-search {
    display: none;
    text-align: center;
}

.playerSummonerName {
    margin-top: auto;
    height: 0cm;
}

.top-row {
    grid-column: 1 / -1;
    background-color: #3671df;
    padding: 20px;
    text-align: center;
    margin-bottom:auto;
    border-radius: 5px;
}

.top-row p {
    margin: auto 0;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.bottom-row .column {
    background-color: #6695d3;
    padding: 10px;
    border-radius: 5px;
}

/* Exclude format */

.section p:first-child:not([id="exclude-format"]) {
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 30px;
}

.section p:first-of-type:not([id="exclude-format"]){
    font-family: 'Baron';
}

.section b:not([id="exclude-format"]) {
    text-align: center;
}

/* Footer */

.main-footer {
    text-align: center;
    background: #000000;
    padding: 10px;
    border-top: 3px solid #1b263b;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

.logo-footer {
    flex: 1;
    max-width: 33.33%;
    box-sizing: border-box;
}
  
.social-media {
    text-align: center;
    max-width: 33.33%;
    box-sizing: border-box;
    font-size: 100%;
    margin-top: 5%;
}
  
.sponsor {
    text-align: right;
    max-width: 33.33%;
    box-sizing: border-box;
}

.footer-copy {
    text-align: center;
    font-style: inherit;
    padding: 10px;
    font-size: 14px;
    color: #969696;
    background-color: #000000;
}

.sponsor {
    align-items: center;
}

.tijuana-img {
    border-radius: 15px;
    width: 30%;
    vertical-align: middle;
    margin-top: 15%;
}

.toblerone-img {
    border-radius: 15px;
    width: 60%;
    vertical-align: middle;
    margin-top: 15%;
}

.rrss-text {
    color: #fff;
    text-decoration: solid;
    font-weight: bold;
    margin-bottom: 10%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.rrss-img {
    border-radius: 15px;
    width: 30px;
    margin-right: 2%;
    height: 24px;
    width: auto;
    display: block;
}

.rrss-list {
    margin-bottom: 2%;
}