
@font-face {
    font-family: 'Baron';
    src: url('../src/fonts/Baron\ Neue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0d1b2a, #1b263b, #415a77, #778da9);
    color: #ffffff;
}

header {
    background: 
        url('../src/LLN_wolf.jpg') no-repeat left center,
        url('../src/LLN_wolf_inverted.jpg') no-repeat right center;
    background-size: auto;
    background-position: left center, right center;
    background-color: black;
    text-align: center;
    padding: 120px 40px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    position: relative;
}

header::after {
    background-size: cover;
    width: calc(100% - 80px);
    height: 100%;
    background-position: center;
    left: 40px;
}

nav {
    background: #102a43;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #1b263b;
    border-top: 4px solid #778da9;
    border-bottom: 2px solid #484d53;
}

nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    font-family: 'Baron';
}

nav a:hover {
    color: #ffa500;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.intro h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
}

.players {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.section p:first-child:not([id="exclude-format"]) {
    text-align: center;
    font-size: 2.4em;
    margin-bottom: 30px;
}

.section p:first-of-type:not([id="exclude-format"]){
    font-family: 'Baron';
}

.section b:not([id="exclude-format"]) {
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1.2em;
    background: #1b263b;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    border: 1px solid #415a77;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.table th {
    background: #102a43;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background: #1f4068;
}

.schedule,
.players {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-player {
    background: #1f4068;
    padding: 20px;
    border: 2px solid #778da9;
    border-radius: 15px;
    width: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.card-player:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.playerSummonerName {
    margin-top: auto;
    height: 0cm;
}

.playerTeam {
    vertical-align: text-top;

}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: #0d1b2a;
    padding: 20px;
    color: #fff;
    border-top: 3px solid #1b263b;
}

footer p {
    margin: 0;
    font-size: 1em;
}

.top-row {
    grid-column: 1 / -1;
    background-color: #3671df;
    padding: 20px;
    text-align: center;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.bottom-row .column {
    background-color: #6695d3;
    padding: 10px;
    border-radius: 5px;
}

.rrss-text {
    color: #fff;
    text-decoration: solid;
    margin-left: 10%;
    font-weight: bold;
    margin-bottom: 20%;
}

.rrss-img {
    border-radius: 15px;
    width: 40px;
    vertical-align: middle;
    margin-right: 2%;
}

.rrss-list {
    margin-bottom: 2%;
}

.video-frame {
    width: 560px;
    height: 315px;
}

.teams-images {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.team {
    text-align: center;
}


.section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.teams-h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.schedule {
    display:block;
    padding: 20px;
}

.card-match {
    background: #1f4068;
    padding: 20px;
    border: 2px solid #778da9;
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Asegura que las imágenes y el texto se coloquen en columnas */
    align-items: center; /* Centra el contenido horizontalmente */
    gap: 20px; /* Espacio entre la fila de imágenes y el texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.card-match:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.matches-images_left img {
    width: 50%;
    margin-left: 30%;
}

.matches-images_right img {
    width: 50%;
    margin-left: 20%;
}

.vs-images img {
    width: 100%;
}

.images-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.VS {
    max-width: 100%;
    height: auto;
}

.info {
    text-align: center;
    background-color: #4f75bb;
    width: 100%;
    border: 2px solid #778da9;
    border-radius: 15px;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.info h3, .info p {
    grid-column: 1 / -1;
}


.info .info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info h3 {
    font-size: 150%;
}

.info p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.info-column-1, .info-column-2 {
    background-color:#1f4180;
    border-radius: 15px;
    border: 2px solid #778da9;
    margin: 2%;
    text-align: center;
    font-size:120%;
}